{% extends "blog/base-template.html" %}
{% block content %}
  <div>
    <h1><span style="color: #14507bcb">#</span> About me</h1>
    <br>
    <p>My name is Guilherme Avila, I'm 23 years old, and I'm a backend developer!</p>
    <p>I currently live in Niterói, in the state of Rio de Janeiro, Brazil. I'm pursuing a Bachelor's degree in Computer Science, currently in my 6th semester, and I have a technical background in Mechatronics</p>
    <p>You can find some of my repositories and projects on my <a href="https://github.com/GM7Avila" target="_blank">GitHub</a>, as well as my profile on <a href="https://www.linkedin.com/in/avila-dev/" target="_blank">LinkedIn</a>.</p>

  </div>

{% endblock content %}