<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <h1># About me</h1>
    <h2>Hello World!</h2>
    <p>My name is Guilherme Avila, I'm 23 years old and I live in Rio de Janeiro, Brasil.</p>
    <p> &#128104;&#8205;&#128187; Backend Developer</p>
  </div>
</body>
</html>